<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Agendamentos de Gravação</title>
  <link rel="stylesheet" href="..\public\css\agendamentoAdminRece.css">
</head>

<body>
  <header>
    <div class="logo">
      <a href="inicialAdmin.html">
        <img src="../public/images/logoAdmin.png" alt="Logo da Empresa">
      </a>
    </div>
  </header>

  <!-- Conteúdo principal -->
  <main>
    <section class="bookings">
      <h2>Agendamentos Recebidos</h2>
      <div class="table-responsive">
        <table id="bookingsTable">
          <thead>
            <tr>
              <th>Data</th>
              <th>Horário</th>
              <th>Acessar</th>
            </tr>
          </thead>
          <tbody>
            <!-- Linhas serão inseridas via JavaScript -->
          </tbody>
        </table>
      </div>
    </section>
  </main>

  <script src="..\public\js\agendamentoAdminRece.js"></script>
</body>

</html>