<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRAVACAO - Filmagens e Transmissão de Eventos Esportivos</title>
    <link rel="stylesheet" href="../public/css/galeria.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="inicial.html">
                <img src="../public/images/logo.png" alt="Logo da Empresa">
            </a>
        </div>
    </header>

    <h1>Galeria</h1>
    <div class="container" id="galeria">
        <!-- Caixas serão adicionadas aqui via JavaScript -->
    </div>

    <script src="/../public/js/galeria.js"></script>
</body>

</html>